#search {
  background-color: #f8f9fa;
  padding: 40px 80px;
}

button {
  width: 100%;
}

/* Media Queries */
@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {
  #search {
    padding: 20px;
  }
}
