<section id="search">
  <form>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="5%" fxLayoutGap.lt-sm="1%">

      <mat-form-field fxFlex="30%">
        <mat-label>Type</mat-label>
        <select matNativeControl required>
          <option value="new">New Cars</option>
          <option value="used">Used Cars</option>
          <option value="demonstrators">Ex Demonstrators</option>
        </select>
      </mat-form-field>

      <mat-form-field fxFlex="30%">
        <mat-label>Dealership</mat-label>
        <select matNativeControl required>
          <option value="all">All</option>
          <option value="hereford">Audi Hereford</option>
          <option value="burton">Citroen Burton</option>
          <option value="derby">Citroen Derby</option>
          <option value="leicester">Citroen Leicester</option>
        </select>
      </mat-form-field>

      <mat-form-field fxFlex="20%">
        <mat-label>Colour</mat-label>
        <select matNativeControl required>
          <option value="all">All</option>
          <option value="red">Red</option>
          <option value="yellow">Yellow</option>
          <option value="green">Green</option>
          <option value="blue">Blue</option>
        </select>
      </mat-form-field>
      <div fxFlex="10%">
        <button mat-flat-button color="primary">Search</button>
      </div>
    </div>
  </form>
</section>
